<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>open-sans-regular.ttf</string>
		<string>open-sans-italic.ttf</string>
		<string>open-sans-light.ttf</string>
		<string>open-sans-semibold.ttf</string>
		<string>open-sans-bold.ttf</string>
		<string>open-sans-bold-italic.ttf</string>
		<string>open-sans-extrabold.ttf</string>
	</array>
</dict>
</plist>
